@{
    ViewData["Title"] = "Gestión de Libros";
}
<h1>@ViewData["Title"]</h1>


<div id="app" class="row">

    <!-- load -->
    <div class="text-center" id="loading">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary float-right" v-on:click="OpenModalCreate">
        Registrar
    </button>

      <!-- Modal -->
    @await Html.PartialAsync("_CreatedFormBook.cshtml")

    <!-- search -->
     <div class="form-group mt-2">
        <input type="search" v-model="search" class="form-control" placeholder="Buscar....">
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Año de publicación</th>
                <th scope="col">Título</th>
                <th scope="col">Genero</th>
                <th scope="col">Número de paginas</th>
                <th scope="col">Editorial</th>
                <th scope="col">Autor</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(item, key) in Search" :key="key">
                <td>{{item.id}}</td>
                <td>{{item.year}}</td>
                <td>{{item.title}}</td>
                <td>{{item.gender}}</td>
                <td>{{item.numberOfPages}}</td>
                <td>{{item.publisher.name}}</td>
                <td>{{item.author.fullName}}</td>
                <td>
                    <button class="btn btn-primary btn-sm" v-on:click="OpenModalUpdate(item)" type="button"><i class="fas fa-edit"></i></button>
                     <button class="btn btn-danger btn-sm" v-on:click="Delete(item)" type="button"><i class="fas fa-trash"></i></button>
                </td>
            </tr>
        </tbody>
    </table>

</div>


<script>
    var app = new Vue({
        el: "#app",
        mounted()
        {
            this.GetBooks();
            this.GetPublishers();
            this.GetAuthors();
        },
        data:
        {
            serverRoute: 'https://localhost:7290/api/book/',
            serverRoutePublisher: 'https://localhost:7290/api/publisher/',
            serverAuthor: 'https://localhost:7290/api/author/',
            books:[],
            publishers:[],
            modalTitle:'',
            Book:{Year:'',Title:'',Gender:'',NumberOfPages:'',PublisherId:'',AuthorId:''},
            authors:[],
            btnCreate:true,
            btnUpdate:false,
            idBook:'',
            search: ''
        },
        methods:
        {
              Update()
              {
                const book = {
                    Id:this.idBook,
                    Year:this.Book.Year,
                    Title:this.Book.Title,
                    Gender:this.Book.Gender,
                    NumberOfPages:this.Book.NumberOfPages == '' ? 0 : this.Book.NumberOfPages,
                    PublisherId:this.Book.PublisherId == '' ? 0 : this.Book.PublisherId,
                    AuthorId:this.Book.AuthorId == '' ? 0 :  this.Book.AuthorId,
                }
                   axios.put(this.serverRoute+'update/'+this.idBook,book).then((res) =>{
                    this.GetBooks();
                    bootstrap.Modal.getOrCreateInstance(document.getElementById('staticBackdrop')).hide()
                    this.idBook = '';
                    Swal.fire({
                      position: 'top-end',
                      icon: 'success',
                      title: 'Libro ' + this.Book.Title + ' actualizado correctamente',
                      showConfirmButton: false,
                      timer: 5000,
                      timerProgressBar: true,
                    });
                    this.CleanFields();
                }).catch(function (error) {
                    console.log(error.response)
                    var array = Object.values(error.response.data.errors);
                    Swal.fire({
                      position: 'top-end',
                      showConfirmButton: false,
                      icon: 'error',
                      title: 'Oops...',
                      text: array,
                      timer: 5000,
                      timerProgressBar: true,
                    })
                });
            },

              OpenModalUpdate(item){
                this.CleanFields();
                this.Book.Year = item.year;
                this.Book.Title = item.title;
                this.Book.Gender = item.gender;
                this.Book.NumberOfPages = item.numberOfPages;
                this.Book.PublisherId = item.publisherId;
                this.Book.AuthorId = item.authorId;
                this.btnCreate=false;
                this.btnUpdate=true;
                var myModal = new bootstrap.Modal(document.getElementById('staticBackdrop'))
                myModal.show();
                this.modalTitle = 'Editar Libro: ' + item.title;
                this.idBook = item.id;
            },

            Create()
            {
               const book = {
                    Year:this.Book.Year,
                    Title:this.Book.Title,
                    Gender:this.Book.Gender,
                    NumberOfPages:this.Book.NumberOfPages == '' ? 0 : this.Book.NumberOfPages,
                    PublisherId:this.Book.PublisherId == '' ? 0 : this.Book.PublisherId,
                    AuthorId:this.Book.AuthorId == '' ? 0 :  this.Book.AuthorId,
               }
                axios.post(this.serverRoute+'create',book).then((res) =>{
                    this.GetBooks();
                    this.CleanFields();
                    Swal.fire({
                      position: 'top-end',
                      icon: 'success',
                      title: 'Editorial ' + this.Book.Title + ' creado correctamente',
                      showConfirmButton: false,
                      timer: 5000,
                      timerProgressBar: true,
                    });
                }).catch(function (error) {
                    console.log(error.response)
                    var array = Object.values(error.response.data.errors);
                    console.log("array",array)
                    
                    Swal.fire({
                      position: 'top-end',
                      showConfirmButton: false,
                      icon: 'error',
                      title: 'Oops...',
                      text: array,
                      timer: 5000,
                      timerProgressBar: true,
                    })

                });
            },

            CleanFields(){
                this.Book.Year = '';
                this.Book.Title = '';
                this.Book.Gender = '';
                this.Book.NumberOfPages = '';
                this.Book.PublisherId = '';
                this.Book.AuthorId = '';
            },

            GetBooks()
            {
                axios.get(this.serverRoute+'index')
                .then(response => {
                    this.books = response.data;
                    let loadgin = document.getElementById("loading");
                    loadgin.style.display = 'none';
                });
            },

            GetPublishers()
            {
                axios.get(this.serverRoutePublisher+'index')
                .then(response => {
                    this.publishers = response.data;
                });
            },

            GetAuthors()
            {
                axios.get(this.serverAuthor+'index')
                .then(response => {
                    this.authors = response.data;
                });
            },

            OpenModalCreate(){
                var myModal = new bootstrap.Modal(document.getElementById('staticBackdrop'))
                myModal.show();
                this.CleanFields();
                this.modalTitle = 'Crear Libro';
                this.btnUpdate=false;
                this.btnCreate=true;
            },

            Delete(item){
                Swal.fire({
                  title: 'Esta seguro de eliminar a ' + item.title,
                  icon: 'warning',
                  showCancelButton: true,
                  confirmButtonColor: '#3085d6',
                  cancelButtonColor: '#d33',
                  confirmButtonText: 'Si'
                }).then((result) => {
                  if (result.isConfirmed) {
                      axios.delete(this.serverRoute+'delete/'+item.id)
                      .then((res)=>{
                            this.GetBooks();
                            Swal.fire(
                              'Deleted!',
                              'La editora fue eliminadas correctamente',
                              'success'
                            );
                        }).catch(function (error) {
                            var array = Object.values(error.response.data.errors);
                            Swal.fire({
                              position: 'top-end',
                              showConfirmButton: false,
                              icon: 'error',
                              title: 'Oops...',
                              text: array,
                              timer: 5000,
                              timerProgressBar: true,
                            })
                        });
                  }
                });
            }

        },

        computed:{
            Search:function(){
                return this.books.filter(x=>{
                    return x.year.includes(this.search)  || x.title.includes(this.search) || x.gender.includes(this.search) 
                });
            }
        }
    });

</script>
